<form [formGroup]="modelForm" (ngSubmit)="onSubmit()">

  <label>username:<input name="username" formControlName="firstName"></label>
  <label>lastname:<input name="lastnamename" formControlName="lastName"></label>


  <label>age:<input name="age" formControlName="age"></label>
  <label>country:<input name="country" formControlName="country"></label>

  <button type="submit">Wyślij</button>
</form>

<div>
  <div>userId:{{object.userId}}</div>
  <div>id: {{object.id}}</div>
  <div>title: {{object.title}}</div>
  <div>body: {{object.body}}</div>
<!--wyciaganie informacji ze strony-->
</div>
